.languageSwitcherBotton {
  margin-left: 30px;
  display: flex;
  align-items: center;
  border: solid 1px var(--textColor);
  // border-radius: 7px;
  border-top: none;
  border-bottom: none;
  padding: 4px 15px;
  transition: all 0.3s ease;
  font-size: 12px;

  &:hover {  
    color: var(--primaryColor);
    border-color: var(--primaryColor);
    
    svg path:nth-child(2) {  
      fill: var(--primaryColor); // Change bien la couleur du path au hover
    }
  }

  svg {
    width: 17px;
    height: 17px;
    margin-right: 10px;

    path:nth-child(2) {
      fill: var(--textColor);  // Couleur par défaut
      transition: fill 0.3s ease;  // Animation fluide
    }
  }


}
