@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&family=Outfit:wght@100..900&family=Big+Shoulders+Text:wght@100..900&display=swap');

body {
  --title: 'Big Shoulders Text', serif;
  --text: 'Outfit', sans-serif;
  font-family: var(--title);
}
