@font-face {
    font-family: 'Robine';
    src: url('/fonts/RobineDemoRegular-L3ezn.otf') format('otf');
    /* Ajoutez des déclarations pour d'autres formats de police si nécessaire (comme 'ttf', 'eot', etc.) */
  }


  body {
    font-family: 'Robine', sans-serif;
  }