@font-face {

    font-family: 'Unbounded';
    src : url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
    font-family: "Outfit";
    src: url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
  }


body {
    --title: 'Unbounded', sans-serif;
    // --text:  'Work Sans', sans-serif;
    --text:  'Outfit', sans-serif;
  }