.themeSwitcherWrapper {

display:  flex;
justify-content: center;
align-items: center;
padding: 0 18px;
border-right: 1px solid var(--textColor);
button {
    // border: var(--textColor) solid 1.5px;
    // padding: 2px;
    outline: none;
    color: var(--textColor);  
    background: none;
    // margin: 0 40px 15px 0;
    border: none;
    cursor: pointer;
    // transform: translateY(-10px);

    &:hover {
      fill: var(--primaryColor);  
     }
    

    label {
      font-family: var(--title);
     
    }
  }

  svg{ 
    path{
     fill: var(--textColor);

   
  }
}

}
