.projectPreview {
// background-color: #972929;
max-width: 100%;
// width: 438px;
// height: 511px;
overflow: hidden;
flex-shrink: 0;

a {
  text-decoration: none;
  color: #000;
}

h3{
  margin-top: 20px;
  margin-bottom: 14px;
}



h4:nth-child(1) {
  // color:   var(--greyLinks);
  // font-family: var(--title);
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 30px;
  padding:  5px 15px;
  font-size: 14px;
}

.linkSection {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  // background-color: red;
:hover {
  background-color: blue;
  }
}

}

.previewImage img {
  // max-width: 100%;
  // height:340px;
  // width: 438px;
  // width: 100%;
   width: var(--thumbWidth);
   height: var(--thumbHeight);
  align-self: stretch;
  background-color: grey;
  display: block;
  
}


.ArticleDetail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
 
}

