.albumPresentation {
h2 {
  margin-bottom: 30px;
}
}

.PostGrid {
  display: grid;
      width: 100%;
    // justify-content: space-between;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;

    // grid-auto-rows: minmax(100px, auto);

    // div:nth-child(2) ,   div:nth-child(5) , div:nth-child(8) {
    //   padding-top: var(--gridPadding);
    // }

    p {
      margin: 00px;
    }

    a {
      color: var(--textColor);
      text-decoration: none;

    }
    
  }


  .renderStyle {
    background-color: red;
  }
  
