.navbarClass {
    // background-color: var(--secondaryColor) !important;
    background-color: var(--bgColor) !important;
    display: flex;
    position: fixed;
    width: 100vw;
    // height: 40px;
    padding: 0px var(--screenMargin);
    justify-content: center;
    z-index: 10;
    text-transform: uppercase;
  
    
    

  }
  
  .navbarcontent {
    justify-content: space-between;
    display: flex;
    width: 98vw;
    padding: 8px 0;
    border-bottom: 1px  var(--textColor) solid;
}

  .menu   {
      padding-top: 2vw;
      display: flex;
      justify-content: space-around;
      height: 30px;
      width: 90vw;  
    }
  
  
    .rightmenu {
      right: 0pt;

      display: flex;
      /* width: 15%; */
      a {
        font-weight: 400 !important;
        text-decoration: none;
      }
    }
    
  
    
    

    
    
    .upLinkBtn {
        display: flex;
        margin: auto;
              

        li {
          list-style: none;
        }
    
    .linksSection {
      color: var(--textColor);
      text-decoration: none;
      margin-left: 30px;
      font-weight: 300;
     }
    
     .linksSection:hover {
        color: var(--primaryColor);
       }
    
    }
  

    

    
    
 

  

  
  
   @media screen and (max-width: 816px) {
   
    .navbarClass {
    .upLinkBtn {
      display: none ; 
      height: 100vh;
      width: 100vw;
      position: fixed;
      background-color: var(--primaryColor);
      top: 0;
      left: 0;
      z-index: 20;

      .linksSection {
        font-weight: 500;
        color: var(--bgColor)
      }
    
      // padding: 0px 5vw;
    }
  
    .menu   {
      padding-top: 3vw;
      
    }

    .linksSection {
      margin-left: 0px;
      font-size: 15vw;
      margin: 30px 0;
      
     }

      .logo {
        margin-left: 30px;
        
      }
    }
  

  
  
  
  }